.Button-container {
    display: flex;
    
}

.Button {
    background-color: #04AA6D;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}


.Button-sm {
    padding: 5px 12px;
    font-size: 10px;
}

.Button-md {
    padding: 8px 20px;
}

.Button-lg {
    padding: 10px 25px;
}


.Button:hover:not([disabled]) {
    background-color: white;
    border-color: #04AA6D;
    color: #04AA6D;
}

.center {
    justify-content: center;
}

.end {
    justify-content: end;
}

.full {
    width: 100%;
}

.Button:disabled {
    cursor: not-allowed;
    pointer-events: none;
}