.Comments-Table {
    border-collapse: collapse;
    width: 100%;
}

.Comments-Table__header {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.Comments-Table__header, .Comments-Table__ceil {
    border: 1px solid #ddd;
    padding: 8px;
}

.Comments-Table__rows {
    cursor: pointer;
}

.Comments-Table__rows:nth-child(even) {
    background-color: #f2f2f2;
}

.Comments-Table__rows:hover {
    background-color: #ddd;
}


.Comments-Table__message {
    text-align: center;
}

.error-message {
    color: red
}