.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    height: 50px;
    padding-inline: 20px;
}

.Header__logo {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 2px 4px;  
    font-weight: bold;  
}

.Header__logo:hover {
    color: red;
}   